form {
    font-family: sans-serif;
    font-size: 20px;
}

div {
    background-color: azure;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    float: left;
    border-style: solid;
    border-width: thick;
    border-color: cornflowerblue;
}

li {
    margin: 5px;
}

