.tabbutton {
    display: inline-block;
    background-color: lightcoral;
    width:100px;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    outline: none;
    
}

span {
    padding: 10px;
    
}

.tabbutton:focus {
    background-color: lightgray;
}
#tabview0 {
    background-color: lightcoral;
}
#tabparent {
    position: relative;
    display: inline-block;
}

.tabview {
    position: absolute;
    background-color: lightgray;
    top: 30px;
    left: 0;
    width: 100%;
    height: 40px;
    display: none;
}



#tabc:focus ~ #tab3 {
    display: block;
}

#tabb:focus ~ #tab2 {
    display: block;
}
#taba:focus ~ #tab1 {
    display: block;
}