div {
    background-color: lime;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

input {
    padding: 40px;
    margin: 10px;
}

#button {
    background-color: coral;
    color: forestgreen;
    font-family: cursive;
    font-size: 70px;
}

body {
    font-family: monospace;
    font-size: 20pt;
}

#area {
    margin: 60px;
}